.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.primeira-div{
  padding-top: 50px;
}

.primeiro-input{
  margin-bottom: 50px;
}

.botao_enviar{
  background-color: gold;
  -webkit-text-stroke: thin;
}

button{
  margin-left: 10px;
  -webkit-text-stroke: thin;
}

input{
  margin-bottom: 10px;
  border-top-style: hidden;
  border-left-style: hidden;
  border-right-style: hidden;
}

.botao_atualizar{
  background-color: darkseagreen;
}

.botao_apagar{
  background-color: tomato;
}